@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<div class="alert-info">
    @ViewBag.Message
</div>
<br />
<input type="text" id="userInput" class="form-control" />
<input type="button" id="trackSearch" class="glyphicon-search" value="recommend for user" />
<br />
<input type="text" id="artistSearchInput" class="form-control"/>
<input type="button" id="artistSearch" class="glyphicon-search" value="look4artist"/>
<script>
    $("#trackSearch").click(function () {
        var userName = $("#userInput").val();
        window.location = 'Track/TrackSuggest?userName=' + userName;
    });
    $("#artistSearch").click(function () {
        var artistName = $("#artistSearchInput").val();
        window.location = 'Artists/ArtistInfo?artistName=' + artistName;
    });
</script>